@model DesafioIntelectah.Models.Veiculo

@using DesafioIntelectah.Models

@{
    ViewBag.Title = "Cadastrar Veículo";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Modelo, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Modelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.AnoFabricacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.AnoFabricacao, new { @class = "form-control", type = "number", min = "1900", max = "@DateTime.Now.Year" })
                @Html.ValidationMessageFor(m => m.AnoFabricacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Preco, new { @class = "form-control", type = "number", step = "0.01", min = "0" })
                @Html.ValidationMessageFor(m => m.Preco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FabricanteID, "Fabricante", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FabricanteID", null, "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FabricanteID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.TipoVeiculo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.TipoVeiculo, new SelectList(Enum.GetValues(typeof(DesafioIntelectah.Models.TipoVeiculo))), "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TipoVeiculo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control", rows = 3 })
                @Html.ValidationMessageFor(m => m.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a href="@Url.Action("Index")" class="btn btn-default">Voltar</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
